# Ignore Visual Studio temp files, build results, and user-specific files
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
TestResults/



# Ignore user-specific project files
*.csproj.user

# Ignore generated report artifacts (if needed)
Reports/

# Ignore other common build/log/output files
*.log
*.tmp
*.db

# Ignore ReSharper files (if applicable)
_ReSharper*/
*.DotSettings.user

# Ignore Mac/Linux specific files
.DS_Store
*.swp

# Ignore NuGet packages folder (optional)
packages/

*.dll
/Reports/CustomReport.html
